body {
  background-color: #660000;
  margin: 30px;
  font-family: monospace;
}

img.main {
  align: center;
  width: 100%;
}

h1 {
  font-family: cursive;
  text-align: center;
}

h3 {
  font-family: cursive;
}

div.sidebar {
  float: left;
  background-color: #ffcccc;
  width: 200px;
  margin-top: 30px;
  text-align: justify;
}

.aboutmaly {
  text-align: justify;
  background-color: #ffcccc;
  float: left;
  width: 25%;
  height: 260px;
  margin: 30px;
}

.singledout {
  color: red;
}
