body {
  background-color: #660000;
  margin: 30px;
  font-family: monospace;
}

img.main {
  align: center;
  width: 100%;
}

h1 {
  font-family: cursive;
  text-align: center;
}

h3 {
  font-family: cursive;
}

img {
  width: 35%;
  height: 35%;
}

div.sidebar {
  float: left;
  background-color: #ffcccc;
  width: 200px;
  margin-top: 30px;
  text-align: justify;
}
span {
  color: red;
  font-style: oblique;
  font-weight: bold;
}
